.normal-box4{
    margin: 1em 0;
    padding: 1em;
    background-color: #fffffffd;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
    margin: 50px auto;
    width: 50%;
    border: solid #f9f9f9;
    border-radius: 10px;
    text-align: center;
}
  
  .normal-box4 p{
    
    margin: 0;
    padding: 0;
  }