.geek{
    margin: 1em 0;
    padding: 1em;
    background-color: #d7eff4e3;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
    margin: 50px auto;
    width: 70%;
    border: solid #d3def1;
    border-radius: 10px;
    text-align: center;
    background-color: #d3def1;
    margin-bottom: 30px;
}
.comment-wrapper{
    margin: 1em 0;
    padding: 1em;
    background-color: #f8fdfee3;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
    margin: 50px auto;
    width: 70%;
    border: solid #d3def1;
    border-radius: 10px;
    text-align: center;
    background-color: #f0f2f5;
}
    
.ooo{
    text-align: center;
    margin-top: 50px;

}