// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.mybox2{
    background-color: aliceblue;	/* 背景色 */
    border: 2px solid 
  #1920a6f8;	/* 線の太さ・種類・色 */
    border-radius: 5px;
    margin: 80px 80px 80px 80px;	/* 外側の余白 上・右・左・下 */
    padding: 25px 20px 10px 20px;	/* 内側の余白 上・右・左・下 */
    position: relative;
   
  }
  .mybox2:before{
    background-color: 
  #1920a644;	/* 吹き出し背景色 */
    border-radius: 5px;
    color: 
  #fff;	/* 吹き出し文字色 */
    content: 'MY PAGE';
    padding: 5px 20px;
    position: absolute;
    left: -10px;
    top: -20px;
  }
  .marker{
    background: linear-gradient(transparent 65%, #4ba7f267 65%); /*マーカーの色、幅を指定*/
    font-weight: bold; /*マーカー部分の文字を太字*/
    margin-bottom: 30px;
  }

  